[submodule "futhark-original"]
	path = futhark-original
	url = git@github.com:diku-dk/futhark.git
[submodule "futhark-automap"]
	path = futhark-automap
	url = git@github.com:diku-dk/futhark.git
	branch = automap
[submodule "futhark-benchmarks-original"]
	path = artifact/futhark-benchmarks-original
	url = git@github.com:diku-dk/futhark-benchmarks.git
[submodule "futhark-benchmarks-automap"]
	path = artifact/futhark-benchmarks-automap
	url = git@github.com:diku-dk/futhark-benchmarks.git
	branch = automap
