[submodule "futhark-benchmarks-original"]
	path = benchmarks/futhark-benchmarks-original
	url = git@github.com:diku-dk/futhark-benchmarks.git
[submodule "futhark-benchmarks-automap"]
	path = benchmarks/futhark-benchmarks-automap
	url = git@github.com:diku-dk/futhark-benchmarks.git
	branch = automap
