[submodule "futhark-original"]
	path = futhark-original
	url = git@github.com:diku-dk/futhark.git
[submodule "futhark-automap"]
	path = futhark-automap
	url = git@github.com:diku-dk/futhark.git
	branch = automap
